body{
    background-color: #f9f6f3;
    margin: 0;
}

/* Navigation Header*/

header{
    z-index: 1;
    background-color: #f9f6f3;
    color: #941e3e;

    position: sticky;
    top: 0;

    transition: background-color 500ms;
}

header.sticking{
    background-color: #1b2a38;
    color: #f89cb4;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: #d2cfcc 0px 0px 10px;
}

.nav-btn{
    margin: 0 10px;
    padding: 0 10px;
    font-size: 20px;
    font-family: "Roboto Flex", sans-serif;
    cursor: pointer;
}

.nav-btn:hover{
    color: #f89cb4;
    text-decoration: underline 1.5px #f89cb4;
}

#logo{
    margin-left: 20px;
    cursor: pointer;
}

/* section */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.container-inner{
    display: flex;
    flex-direction: column;
    width: 60%;
}

h1{
    font-size: 42px;
    font-family: "Roboto Flex", sans-serif;
    color: #941e3e;
    font-style: italic;
}

.underlined{
    position: relative;
}

.underlined::after{
    content: "";
    position: absolute;
    width: 120%;
    border-top: solid 3px #f89cb4;
    left: 0;
    bottom: -10px;
    border-radius: 300%;
    height: 12px;
}

h2{
    font-size: 32px; 
    font-family: "Roboto Flex", sans-serif;
    color: #030507;
    font-style: italic;
}

.par{
    font-size: 20px;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    text-align: justify;
    color: #030507;
}


/* Buttons: primary, secondary, hover, tertiary*/
.btn-primary{
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;

    margin: 20px 0;
    padding: 20px 40px;

    transition: .5s;
    cursor: pointer;

    background: #941e3e;
    color: #f9f6f3;
    border: none;
    box-shadow: 0px 0px 1px #941e3e, 0px 0px 2px #941e3e, 0px 0px 3px #941e3e, 0px 0px 4px #941e3e;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #f89cb4;
    color: #941e3e;
    box-shadow: 0px 0px 3px #941e3e, 0px 0px 4px #941e3e, 0px 0px 5px #941e3e, 0px 0px 6px #941e3e;
    transition: .5s;
}

/* footer */
footer{
    position: relative;
    background-color: #1b2a38;
    margin-top: 100px;
}

.custom-shape-divider-top-1754787382 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1754787382 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1754787382 .shape-fill {
    fill: #F9F6F3;

}

.footer-container{
    padding: 100px 0 0;
}

.par-light{
    color: #f9f6f3;
    text-align: center;
}

.footer-nav{
    display: flex;
    justify-content: center;
    padding:  30px 0;
}

.footer-nav a{
    color: #f89cb4;
}

/* tablets */
@media all and (max-width: 1024px){
   
}

@media all and (max-width: 850px){

    .container-inner{
        width: 80%;
    }

    .homepage-images{
        width: 80%;
    }
}

@media all and (max-width: 500px){

    .nav-btn{
        font-size: 16px;
    }

    .container-inner{
        width: 80%;
    }

    .homepage-images{
        width: 100%;
    }

    h1{
        font-size: 38px;
    }

    .underlined::after{
        width: 100%;
    }

    .btn-primary, .btn-secondary{
    padding: 20px;
    font-size: 18px;
}

    h2{
        font-size: 28px; 
    }

    .footer-container p{
        font-size: 16px;
    }

}